* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
   
    background: url('/img/fondo.jpg');
    background-size: cover;
    background-attachment: fixed
}

#global {
    width: 80%;
    background: #f7f7f7;
    margin: 30px auto 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px #080f0f;    
}

h1 {
    color: #ffffff;
}

#logo {
    font-family: Helvetica, sans-serif;
    font-size: 23px;    
    background: #2660a4;
    text-align: center;
    max-width: 80%;
    height: 80px;
    margin-bottom: 20px;
    line-height: 75px; 
    box-shadow: 2px 2px 5px #080f0f;   
}

#menu {
    font-family: Helvetica, sans-serif;
    margin-bottom: 20px;
    background: #bea57d;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #080f0f;
}

#menu ul {
    line-height: 46px;  
    
}

#menu ul li {
   height: 46px; 
   display: inline-block;
   transition: all 300ms;
   
     
}

li:hover {
    background: #eff2c0;
    
}

#menu ul li a {
    display: block;
    color: #080f0f;
    text-decoration: none;
    padding: 0 30px;    
}

/* .bx-wrapper, .bx-viewport {
    height: 100rem !important; -----Tamaño del Slider-----

} */


#content {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas:    "articulo articulo sidebar";
    grid-gap: 20px;
}

#articulos h2 {
    font-size: 30px;  
    
}

#fecha {
    color: #ccc !important;
    margin-bottom: 20px;
}

#articulos{
    grid-area: articulo;
}



.leer_mas {
    display: inline-block;
    padding: 10px;
    background: #eff2c0;
    color: blue;
    text-decoration: none;
    margin-top: 5px;
    font-size: 14px;
    
    
}

#sidebar {
    padding: 20px;
    background:  #7dbe8d;
    grid-area: sidebar;
    font-family: Arial, Helvetica, sans-serif;
    
}

#sidebar h4 {
    font-size: 20px;
    padding:  20px 10px;
}

#sidebar p {
    font-size: 13px;
    line-height: normal;
}

p {
    text-align: justify;
    line-height: 20px;
}


#foto {
    display: block;
    margin: 10px auto 30px;
    border-radius: 10px;
    width: 12rem;
    box-shadow: 4px 4px 20px #080f0f;
}

form input {
    border-radius: 2px;
    height: 15px;
    padding: 5px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    
}

#registrar {
    padding: 6px 30px;
    cursor: pointer;
    height: 30px;
    box-shadow: 2px 2px 2px black;
    background: #bea57d;
    font-weight: bold;
    border: 2px solid #bea57d;
}



.footer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    height: 100px;
    padding: 10px;
    background: rgba(22, 108, 219, 0.9);
    color: #ffffff;    
    box-shadow: 5px 5px 5px #080f0f;
    font-weight: 500;     
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto 30px;
}



.subir {
    color: white;
    display: grid;
    grid-row: 1/2;
    justify-items: right;
    align-items: center;
    margin-right: 40px; 
       
}

#subir {
    color: white;
    
    font-size: large;
}

.copy {
    display: grid;
    grid-row: 2/3;
    justify-items: center;
    align-items: end;
}

#temaD {
    background: #1d1f1d;
    padding: 5px 10px;
    color: #ccc;
    font-size: medium;
    cursor: pointer; 
    margin-left: 0px;
    border-radius: 10px; 
    
}   

#temaL {
    background:rgba(22, 108, 219, 0.9);
    padding: 5px 10px;
    color: #fff;
    font-size: medium;
    cursor: pointer;
    border-radius: 10px;  
}   

#botones {
   
    float: right;
    margin-right: 20px;
}

